
    
    <h1 class="text-center">FatBoar</h1>

     <div class="info">
    <a  mat-list-item >
        <mat-icon class="icon mr-2">room</mat-icon>
        <span class="label ">1 Bis Rue Gustave Eiffel, 78280 Guyancourt</span>
      </a>

      <a  mat-list-item type="button">
        <mat-icon class="mr-2">phone_enabled</mat-icon>
        <label class="">01 74 56 64 31</label>
      </a>

      <a  mat-list-item >
        <mat-icon class="icon mr-2">email</mat-icon>
        <span class="label "></span>  <label class="">contact@fatboar.fr</label>
      </a>

    </div>


     
  