.main-footer {
    color: white !important;
    // background-image: linear-gradient(to right, #e3cf48, #e6c139, #e8b22c, #eaa322, #eb931b, #eb8818, #eb7d17, #ea7118, #e96819, #e75e1a, #e5541c, #e3491e);
    background-image: linear-gradient(to right, #f5af19, #f12711 );
}

.border-right {
    border-right: 1px, solid white;
}
h2 {
    text-align: left;
    font-weight: bold;
    margin: 0px;
    margin-top: 30px;
}

h5 {
    text-align: left;
    margin: 0px;
}
a {
    color: white;
    margin: 0px;
    padding: 0px;
}
