<div class=" main-footer mt-6">

  <div class="col-12">
    <div class="row" >

       <!-- 1111111111 -->
      <div class="col-md-3  col-12 ">
        <div class="row justify-content-end border-right my-3 ">
          
          <div class="col-12 mb-2 ">
            <a routerLink="/" routerLinkActive="active" class="row justify-content-center" >
              <img  width="80" height="80" src="assets/img/logo-fatboar.png">
            </a>
          </div>

          <div class="col-12 mt-2 ">
            <div class="row justify-content-center">
            <a href="" class="mr-2">
              <img width="30" height="30" src="assets/img/social/twitter.svg"  />
            </a>
            <a href="" class="mr-2 ">
              <img  width="30" height="30" src="assets/img/social/facebook.svg" />
            </a>
            <a href="" class="">
              <img  width="30" height="30" src="assets/img/social/instagram.svg" />
            </a>
          </div>
          </div>
        
      </div>
      </div>
      
       <!-- 2222222222 -->
      <div class="col-md-3  col-12">
        <div class="row ">
          <h2 class="col-md-12 text-md-left text-center">Informations utiles</h2>
          <a class="col-md-12 text-md-left text-center" href="#ccm">
            <h5 class="col-md-12 text-md-left text-center" style="color: white !important">Comment ça marche ?</h5>
          </a>
          <a class="col-md-12 text-md-left text-center" href="">
            <h5 class="col-md-12 text-md-left text-center" style="color: white !important">Qui sommes-nous ?</h5>
          </a>
          <a class="col-md-12 text-md-left text-center" href="">
            <h5 class="col-md-12 text-md-left text-center" style="color: white !important">FatBoar pour ses clients</h5>
          </a>
        </div>
      </div>
     
      <!-- 3333333333333 -->
      <div class="col-md-3 col-12">
        <div class="row">
          <h2 class="col-md-12 text-md-left text-center">Informations légales</h2>
          <a routerLink="cgu" class="col-md-12">
            <h5 class="col-md-12 text-md-left text-center">Conditions générales d'utilisation</h5>
          </a>
          <a routerLink="mention-legales" class="col-md-12">
            <h5 class="col-md-12 text-md-left text-center">Mention légales</h5>
          </a>
          <a routerLink="politique-de-confidentialite" class="col-md-12">
            <h5 class="col-md-12 text-md-left text-center" >Politique de confidentialité</h5>
          </a>
        </div>
      </div>
      
      <!-- 444444444444 -->
      <div class="col-md-3 col-12 mb-3">
        <div class="row">
          <h2 class="col-md-12 text-md-left text-center">Nous contacter</h2>
          <h5 class="col-md-12 text-md-left text-center">Service client : <b>01 74 56 64 31</b></h5>
          <h5 class="col-md-12 text-md-left text-center">De 9h à 12h et de 13h à 19h</h5>
          <h5 class="col-md-12 text-md-left text-center">du lundi au vendredi</h5>
          <a href="mailto:" class="col-md-12 text-md-left text-center">
            <h5 class="col-md-12 text-md-left text-center"><b>Envoyer un mail</b></h5>
          </a>

        </div>
      </div>


    </div>
  </div>


</div>







