
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Pangolin&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');

.navtop{
    margin-top: 6em;
  }

  .gain{
    color:rgb(30, 3, 56);
    font-family: 'Indie Flower', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
  }


  @media screen and (max-width: 640px) {
    .rangeRover {
       margin-left: 3em ;
    }
  }

.tex{
  font-family: 'Maven Pro', sans-serif;
}

.dessert{
  margin-top: 0.7em;
}


















  

