.navtop{
    margin-top: 7em;
    margin-bottom: 3em;
  }
 
  .facebooklogin{
    margin-bottom: -0.5em !important;
  }
  .googlelogin{
    margin-bottom: -0.5em !important;
  }
  .marginButton{
    margin-bottom: 0em !important;
  }

 