<div class="container navtop">


    <div class="row justify-content-center">


        <mat-card class="col-10 col-lg-7" style="border-radius:  30px;">
            <mat-progress-bar class="col-12" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <mat-card-content>


                <form [formGroup]="formGroup" (ngSubmit)="lostPassword()">
                    <h1 class="row justify-content-center mt-2"><b>Mot de passe oublié ?</b></h1>


                    <h3 class="text-center">Pas de problème ! Renseignez votre adresse e-mail ci-dessous, nous
                        vous enverrons un lien pour réinitialiser votre mot de passe.</h3>




                    <div class="row justify-content-center">
                        <mat-form-field class="col-10">
                            <input matInput placeholder="Adresse email" formControlName="email" required>
                            <mat-error
                                *ngIf="!formGroup.controls['email'].valid || formGroup.controls['email'].touched">
                                {{ getErrorEmail() }}
                            </mat-error>
                        </mat-form-field>
                    </div>



                    <div class="row justify-content-center my-3">
                        <button class="col-8 col-md-4 color-theme" mat-raised-button color="primary" type="submit">
                            Envoyer</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>

    </div>






</div>